.Item1 svg .cls-1 {
  fill: #edf3fe;
}
.Item1 svg .cls-3 {
  fill: #d1e2fb;
}
.Item1 svg .cls-4 {
  fill: #4284f3;
}
.Item1 svg .cls-5 {
  fill: #3c4043;
}
.Item1 svg .cls-6 {
  fill: #fff;
}
.Item2 svg .cls-1 {
  fill: #edf3fe;
}
.Item2 svg .cls-3 {
  fill: #d1e2fb;
}
.Item2 svg .cls-4 {
  fill: #3c4043;
}
.Item2 svg .cls-5 {
  fill: #34a753;
}
.Item2 svg .cls-6 {
  fill: #fff;
}
.Item3 svg .cls-1 {
  fill: #edf3fe;
}
.Item3 svg .cls-2 {
  fill: #d1e2fb;
}
.Item3 svg .cls-3 {
  opacity: 0.4;
}
.Item3 svg .cls-4 {
  fill: #fabb04;
}
.Item3 svg .cls-5 {
  fill: #3c4043;
}
.Item4 svg .cls-3 {
  fill: #3c4043;
}
.Item4 svg .cls-4 {
  fill: #fff;
}
.Item4 svg .cls-5 {
  fill: none;
}
.Item4 svg .cls-6 {
  fill: #d1e2fb;
}
.Item4 svg .cls-7 {
  opacity: 0.4;
}
